<h1>Name: <%= @superhero.name %></h1>
<h3>Super Name: <%= @superhero.super_name %></h3>
<h3>Superpower: <a href="/superpowers/<%= @superpower.id %>"><%= @superpower.name %></a>
</h3>
<br>
<p><a href="/superheroes">Check Out All Superheroes</a></p>
